<div class="chordGame">
  <h3 class="center">
    {{title}}
  </h3>
  <div class="layoutContainer">
    <div class="leftContainer">
      <span class="difficultyLabel">Difficulty</span>
      <select class="browser-default difficultySelect" #t 
              (change)="chordGameService.selectCategory$.next(t.value)">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</option>
      </select>
      <div class="chordListContainer">
        <div *ngFor="let chord of chordGameService.chordList$ | async">
          <span class="chordList-item" 
                [ngClass]="{'selectedListItem': chord.id === selectedChord.id}"
                (click)="chordGameService.selectedChordReducer$.next(chord.id)">
                {{ chord.name }}
          </span>
        </div>
      </div>
    </div><!--// leftContainer --> 
    <div class="rightContainer">
      <div class="selectedChordLabel">{{ selectedChord.name }}</div>
      <div class="fretboard">
        <div class="fretboard-string" *ngFor="let note of selectedChord.notes">
          <div class="fretboard-finger"
               [ngClass]="{'fretboard-finger_circle': note.fret > 0 }"
               [ngStyle]="{'top': note.fret > 0 ? (note.fret * 18) + '%' : '-20px' }">
            {{ note.finger }}
          </div>
        </div>
      </div>
      {{ selectedChord.notes | json }}
    </div>
  </div>
</div>



