<div class="chordGame">
  <div class="layoutContainer">

    <div class="btnContainer" *ngIf="pageState !== 'play'">
      <div class="btn"
           (click)="chordGameService.changePageState$.next('play')">
        Play
      </div>
      <div class="btn" [ngClass]="{ 'btn-flat': pageState === 'study' }"
           (click)="chordGameService.changePageState$.next('study')">
        Study
      </div>
    </div>

    <div class="configurationRow scoreboardRow"
         *ngIf="pageState === 'play' && !gameState.get('isInProgress')">
      <div class="configurationRow"
           *ngIf="!gameState.get('isInProgress')">
        <div>Finding opponent...</div>
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="configurationRow scoreboardRow"
         *ngIf="pageState === 'play' && gameState.get('isInProgress')">
      <div class="scoreContainer">
        <div class="scoreLabel">
          {{ gameState.getIn(['me', 'name']) }}
        </div>
        <div class="score">
          <i class="material-icons tiny" [ngClass]="{ 'green-text': isTruthy, 'red-text': !isTruthy }"
             *ngFor="let isTruthy of gameState.getIn(['me','answers'])">
            {{ isTruthy ? 'thumb_up' : 'thumb_down' }}
          </i>
        </div>
      </div>
      <div class="starContainer">
        {{ gameState.get('timer') }}
      </div>

      <div class="scoreContainer">
        <div class="scoreLabel">
          {{ gameState.getIn(['opponent', 'name'])}}
        </div>
        <div class="score">
          <i class="material-icons tiny" [ngClass]="{ 'green-text': isTruthy, 'red-text': !isTruthy }"
             *ngFor="let isTruthy of gameState.getIn(['opponent','answers'])">
            {{ isTruthy ? 'thumb_up' : 'thumb_down' }}
          </i>
        </div>
      </div>
    </div>

    <div class="fretboardContainer" *ngIf="pageState === 'play' && gameState.get('isInProgress')">
      <div class="selectedChordLabel">
        {{ pageState === 'study' ? selectedChord.name : '?' }}
      </div>

      <fretboard [chord]="gameState.get('question')"></fretboard>

      <div class="configurationRow answerRow">
        <div class="btn answerBtn"
             *ngFor="let item of gameState.getIn(['question', 'answers'])"
             (click)="chordGameService.answerHandler$.next(item.get('isCorrect'))">
          {{ item.get('answer') }}
        </div>
      </div>

    </div><!-- fretboardContainer -->

  </div><!--// layoutContainer -->
</div><!--// chordGame -->



